<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Ошибка</title>
</head>
<body>
<section class="container">
	<div>
	<h3>что то пошло не так </h3>
	</div>
	<div>
		<ul>
			<li><a href="/registration">Регистрация</a></li>
			<li><a href="/login">Вход</a></li>
		</ul>
	</div>
</section>
</body>
</html>