<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Главная</title>
</head>
<body>
<section class="container">
	<div>
		<ul>
			<li><a href="/registration">Регистрация</a></li>
			<li><a href="/login">Вход</a></li>
			<li><a href="/success">Страница успешной авторизации</a></li>
		</ul>
	</div>
</section>
</body>
</html>